<div class="track-box">
  <div class="track-box-content track-box-content-head">
    <div>ТРЕК</div>
    <div>ИСПОЛНИТЕЛЬ</div>
    <div>АЛЬБОМ</div>
    <div>
      <app-clock-icon class="span"></app-clock-icon>
    </div>
  </div>
  <div class="track-box-container">
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
    <div class="track-box-content">
      <div class="track-title">
        <app-skeleton-track-icon
          class="svg-icon-track"
        ></app-skeleton-track-icon>
        <app-skeleton-name class="svg-icon-track"></app-skeleton-name>
      </div>
      <div class="track-author">
        <app-skeleton-author class="svg-icon-track"></app-skeleton-author>
      </div>
      <div class="album">
      </div>
      <div class="track-time">
        <app-heart-icon class="svg-icon-heart"></app-heart-icon>
        00:00
      </div>
    </div>
  </div>
</div>
